
body{
  background-color: #f5f5f5;
}
/** CAT **/
.logo-user img{
    width: 100px;
    height: 100px;
    
}
.logo-user{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
}
.cart img{
    width: 100%;
    height: 100%;
}
.cart {
    position: absolute;
    content: '';
    bottom: 15px;
    right: 30px;
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 4px;
    box-shadow: 1px 1px 2px black;

}
.card-user{
    position: fixed;
    top: 15%;
    left: 1%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #e3f2fd;
    box-shadow: 5px 5px 7px black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
/** carousel **/
.card-carousel-banner {
}
.w-product{
    width: 12rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* CARD PRODUCT */

.product{
    text-decoration: none;
    border: 3px solid #e3f2fd;

}
.product:hover{
    z-index: 1;
    box-shadow: 1px 1px 10px black;
}
.prices{
    color: black;
    font-weight: 700;
}
/*SLIDER PRODUCT */

.title{
  margin: 4rem 0;
}
.container-slider{
  margin: 4rem 6rem;
  border: 1px solid #e3f2fd;
  padding: 1rem 0;
  border-radius: .8rem;

}
.card-slider{
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #e3f2fd;
}

  
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: -1.5%;
    display: flex;
    align-items: center;
    background-color: #e3f2fd;

  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: -1.5%;
    display: flex;
    align-items: center;
    background-color: #e3f2fd;

  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3,
  .carousel-showmanymoveone .cloneditem-4,
  .carousel-showmanymoveone .cloneditem-5 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.666%, 0, 0);
      transform: translate3d(16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.666%, 0, 0);
      transform: translate3d(-16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
